html {
  scroll-behavior: smooth;
}

.custom-navbar {
  background-color: rgba(195, 219, 157, 0.263); /* fondo translúcido */
  backdrop-filter: blur(8px); /* efecto vidrio */
  border-radius: 50px;
  margin: 5px auto;
  width: 60%;
  padding: 0.3rem 1rem;
  box-shadow: 0 30px 60px 0 rgba(27, 31, 10, 0.08);;
  transition: background-color 0.3s ease;
  z-index: 1000;
}

.navbar-nav .nav-link {
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 12px;
  transition: color 0.3s;
  border-radius: 10px;

}

.navbar-nav .nav-link:hover {
  background-color: rgba(202, 183, 130, 0.222); /* fondo suave dorado */
  color: #cbb883; /* texto dorado */
  text-decoration: none;
}


.btn-dark {
  font-size: 1.1rem;
  padding: 12px 28px;
  border-radius: 50px;
  background-color: #212121;
  color: #fff;
  border: none;
  transition: all 0.3s ease;

}

.btn-dark:hover {
  background-color: #00000075;
  text-decoration: none;
  color: #ffffff;
}
/*----------------------- PORTADA-------------------------------------------------- */
.hero-section {
  position: relative;
  min-height: 100vh;
  background-image: url('img/portada.png');
  background-size: cover;
  background-position: center 50% ;
  background-repeat: no-repeat;
  background-attachment: scroll;
  padding-top: 40px;
  padding-bottom: 30px;
  overflow: hidden;
}

@media (min-width: 992px) {
  .hero-section {
    background-attachment: fixed;
  }
}

.hero-section .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.hero-section .container {
  position: relative;
  z-index: 2;
  padding-top: 40px;
  padding-bottom: 40px;
}

.hero-section h1 {
  font-size: 3.5rem;
  color: #efb810;
  text-shadow: 1px 1px 2px #000;
}

.hero-section h2 {
  font-size: 1.2rem;
  color: #efb810;
  text-shadow: 1px 1px 2px #000;
}

.hero-section p {
  font-size: 1.2rem;
  color: #f8f9fa;
  text-shadow: 1px 1px 2px #000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 767px) {
  .hero-section h1 {
    font-size: 2.4rem;
    text-align: center;
  }

  .hero-section h2 {
    font-size: 1rem;
    text-align: center;
  }

  .hero-section p {
    font-size: 1rem;
    text-align: center;
  }

  .hero-section .btn {
    display: block;
    margin: 0 auto;
  }

  .hero-section .container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
/*---------------------MI HISTORIA-----------------------------------------------------*/
.historia-section {
  background-color: #111; /* o mantené transparente si tenés fondo */
  position: relative;
  z-index: 1;
}

.titulo-historia {
  font-size: 2.8rem;
  font-weight: 700;
  color: #efb810;
  text-shadow: 1px 1px 2px #000;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.historia-section p {
  font-size: 1.15rem;
  line-height: 1.5;
  text-shadow: 1px 1px 2px #000;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-bottom: 1.5rem;
}

@media (max-width: 767px) {
  .titulo-historia {
    font-size: 2rem;
    text-align: center;
  }

  .historia-section p {
    font-size: 1rem;
    text-align: justify;
  }

  .historia-section img {
    max-width: 90%;
    margin-top: 1rem;
  }
}
/*---------------SECCION LOGROS------------*/
.bloque-logros {
  position: relative;
  min-height: 70vh;
  background-image: url('img/29MIN.png');
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow: hidden;
}

@media (min-width: 992px) {
  .bloque-logros {
    background-attachment: fixed;
  }
}

.overlay-logros {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.bloque-logros .container {
  position: relative;
  z-index: 2;
}

.titulo-logros {
  font-size: 2.8rem;
  color: #efb810;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-shadow: 1px 1px 2px #000;
}

.bloque-logros ul {
  padding-left: 0;
  margin-bottom: 0;
}

.bloque-logros ul li {
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 1px 1px 2px #000;
  margin-bottom: 0.5rem;
  padding-left: 1.5rem;
  position: relative;
}

@media (max-width: 767px) {
  .titulo-logros {
    font-size: 2rem;
    text-align: center;
  }

  .bloque-logros ul li {
    font-size: 1rem;
    text-align: left;
  }
}
/*---------------SECCION SIGUE MI CAMINO------------*/
.bloque-camino {
  background-color: #111; /* fondo plano oscuro */
  padding-top: 0px;
  padding-bottom: 0px;
}

.titulo-camino {
  font-size: 2.8rem;
  color: #efb810;
  text-shadow: 1px 1px 2px #000;
  font-weight: 700;
  text-transform: uppercase;
}

.icono-red {
  width: 60px;
  height: 60px;
  transition: transform 0.3s ease;
}

.icono-red:hover {
  transform: scale(1.2);
}
/*---------------GALERIA------------*/
.bloque-galeria {
  background-color: #111;
  padding-top: 20px;
  padding-bottom: 20px;
}

.titulo-galeria {
  font-size: 3rem;
  color: #efb810;
  text-shadow: 1px 1px 2px #000;
  font-weight: 700;
  text-transform: uppercase;
}

.galeria-scroll {
  display: flex;
  gap: 1.2rem;
  overflow-x: auto;
  scroll-behavior: smooth;
  padding: 10px 0;
  margin-left: 0;
  margin-right: 0;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}

.galeria-scroll::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.img-galeria {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 400px;
  border-radius: 40px;
  cursor: pointer;
  transition: transform 0.3s ease;
  flex: 0 0 auto;
}

.img-galeria:hover {
  transform: scale(1.05);
}
/*responsive galeria*/
@media (max-width: 576px) {
  .img-galeria {
    height: 190px;
  }

  .carousel-control-prev,
  .carousel-control-next {
    width: 60px;
  }

  .modal-dialog.modal-xl {
    max-width: 95%;
    margin: auto;
  }

  .modal-content img {
    border-radius: 16px;
  }
}

/*---------------------- ENTREVISTAS---------------------- */
.bloque-entrevistas {
  position: relative;
  min-height: 80vh;
  background-image: url('img/galeria/99.jpg');
  background-size: cover;
  background-position: center 20%;
  background-repeat: no-repeat;
  background-attachment: scroll;
  overflow: hidden;
}

@media (min-width: 992px) {
  .bloque-entrevistas {
    background-attachment: scroll;
  }
}

.overlay-entrevistas {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.bloque-entrevistas .container-fluid {
  position: relative;
  z-index: 2;
}

.titulo-entrevistas {
  font-size: 2.8rem;
  color: #efb810;
  font-weight: 700;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
}

.card-title {
  font-size: 1.6rem;
  font-weight: 600;
  text-shadow: 1px 1px 2px #000;
}

.card-text {
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Small', 'Arial Narrow', Arial, sans-serif;
  text-shadow: 1px 1px 2px #000;
}

.btn-ver {
  background-color: #efb810;
  color: #000;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  padding: 10px 25px;
  font-size: 1.1rem;
  transition: all 0.8s ease;
}

.btn-ver:hover {
  background-color: #fff;
  color: #111;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .btn-ver {
    display: block;       /* hace que ocupe toda la línea */
    margin: 0 auto;       /* centra horizontalmente */
    text-align: center;   /* asegura que el texto quede centrado */
  }
}

/* Carrusel solo en móviles/tablets */
@media (max-width: 991px) {
  #entrevistasCarousel .carousel-item {
    padding: 0 1rem;
  }

  #entrevistasCarousel .card-img-top {
    border-radius: 1rem;
  }


  #entrevistasCarousel .carousel-control-prev-icon,
  #entrevistasCarousel .carousel-control-next-icon {
    background-color: #000000;
    border-radius: 50%;
    padding: 10px;
  }
}

/*---------------------- PATROCINIO -------------------- */
.patrocinio-banner {
  background-color: #f24b04;
  padding: 10px 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.mensaje-patrocinio {
  font-size: 1.3rem;
  font-weight: 500;
  text-shadow: 1px 1px 2px #000;
}

.btn-patrocinio-banner {
  background-color: #000;
  color: #fff;
  font-weight: 600;
  border-radius: 50px;
  font-size: 1.3rem;
  transition: all 0.3s ease;
}

.btn-patrocinio-banner:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1.05);
}

@media (max-width: 767px) {
  .mensaje-patrocinio {
    font-size: 1rem;
    text-align: center;
  }

  .btn-patrocinio-banner {
    font-size: 0.95rem;
    padding: 8px 20px;
  }
}

/*---------------------- CONTACTA CONMIGO -------------------- */
.bloque-contacto {
  background-image: url('img/galeria/24.jpg'); /* reemplazá con tu imagen */
  background-size: cover;
  background-position: center 50;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: 80vh;
  overflow: hidden;
}

@media (min-width: 992px) {
  .bloque-contacto {
    background-attachment: fixed;
  }
}

.overlay-contacto {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.titulo-contacto {
  font-size: 2.8rem;
  font-weight: 700;
  color: #efb810;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
}

.btn-enviar {
  background-color: #efb810;
  color: #000;
  font-weight: 600;
  border-radius: 50px;
  font-size: 1.2rem;
  transition: all 0.3s ease;
}

.btn-enviar:hover {
  background-color: #ffffff93;
  color: #000;
  transform: scale(1.05);
}

.form-control {
  background-color: rgba(255, 255, 255, 0.39);
  border: none;
  color: #fff;
  font-size: 1.3rem;
  border-radius: 10px;
}

.form-control::placeholder {
  color: #000000da;
  font-family: 'Courier New', Courier, monospace;
}

.form-control:focus {
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
  box-shadow: none;
}

/*---------------------- CONTACTO DIRECTO -------------------- */
.contacto-directo {
  background-color: #232323;
}

.titulo-contacto-directo {
  font-size: 2.5rem;
  font-weight: 700;
  color: #efb810;
  text-transform: uppercase;
  text-shadow: 1px 1px 2px #000;
}

.dato-contacto-directo {
  background-color: #2e2e2e;
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  transition: transform 0.3s ease;
   text-shadow: 1px 1px 2px #000;
}

.dato-contacto-directo:hover {
  transform: translateY(-5px);
}

.etiqueta-contacto {
  font-size: 1.2rem;
  font-weight: 600;
  color: #efb810;
  margin-bottom: 5px;
  text-transform: uppercase;
}

.valor-contacto {
  font-size: 1.1rem;
  color: #fff;
  margin: 0;
}

@media (max-width: 767px) {
  .titulo-contacto-directo {
    font-size: 2rem;
  }

  .valor-contacto {
    font-size: 1rem;
  }
}
/*---------------------- FOOTER -------------------- */
.footer-principal {
  background-color: #232323;
  font-size: 0.95rem;
  border-top: 1px solid #444;
}